<p>Bonjour {{ user.email }},</p>
<p>Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous :</p>
<p><a href="{{ resetUrl }}">Réinitialiser mon mot de passe</a></p>
<p>Ce lien est valable 1 heure.</p>
<p>Si vous n'êtes pas à l'origine de cette demande, ignorez cet email.</p>
<p>Cordialement,<br>L'équipe de support</p>