{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold  text-center"> ceci est mon titre tailwind</h1>
{% endblock %}
