<!DOCTYPE html>
<html>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="min-h-screen flex flex-col">
        {% include 'header/header.html.twig' %}

        <main class="flex-1">
            {% block body %}
                <h1 class="text-3xl font-bold "> ceci est mon titre tailwind</h1>
            {% endblock %}
        </main>
        {% include 'footer/footer.html.twig' %}
    </body>
</html>
